$background-color1: #f2e394;
$a12 :#f2f2f2;
$a15 :#d9d9d9;
$fontSize-Title: 2rem;
$fontColor-White: rgb(255, 255, 255);
$fontColor-Black: rgb(0, 0, 0);
$Poppins: 'Poppins', sans-serif;


header{
    display: flex;
	align-items: center;
    background-color: $background-color1;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

#header-title-container {
	display: flex;
	align-items: center;
}

#header-title {
	padding-left: 25px;
	font-size: $fontSize-Title;
	color: $fontColor-White;
    font-family: sans-serif;
}

#todo-icon {
	padding-left: 40px;
    font-size: 3em;
}

#header-hamburger-menu {
	border-radius: 5px;
	color: $fontColor-Black;
	transition: 0.3s;
	cursor: pointer;
    
    &:hover{
    transition: 0.3s;
	background-color:#413c28;
	color: #f5dd63;
    }
}