@import "header.scss";
@import "modal.scss";
@import "navigation.scss";
@import "universal.scss";


header {
	grid-column: span 2;
}

main {
	display: flex;
	height: calc(100% - 66px);
	gap: 15px;
}

#main-title {
	font-size: 1.5rem;
	color: $Grey;
    font-family: $Segoe;
}

#add-task{
    border: 1px solid black;
	padding: 1rem 3rem;
	background-color: $Grey;
	color: white;
	font-weight: bold;
	border: none;
	margin: 15px 0px 15px 0px;
	border-radius: 5px;
	max-width: 200px;
}